{% extends "front/core.html" %}
{% block title %}Наука и образования{% endblock %}

{% block content %}
    <br><br><br><br><br><br>
    <div class="container">
                <article class="blog-post">
                    <center><h2 class="blog-post-title mb-1">
                        Наука и образования
                    </h2></center>
                    <pre class="fs-6">
                        1. Клинические исследования социально значимых заболеваний и поиск путей повышения эффективности
                        их лечения
                        Тема 1. Выяснение молекулярных механизмов, ключевых сигнальных путей и транскрипционных факторов
                        сахарного диабета и других социально значимых заболеваний с целью создания новых лекарственных
                        средств
                        Тема 2. Репродуктивный потенциал эндометрия: значение ангиогенных, тромбогенных факторов и
                        окислительного стресса
                        Тема 3. Прогностическая значимость геномных и протеомных маркеров в диагностике многофакторных
                        заболеваний
                        Тема 4. Роль полиморфизма генов эндотелиальной дисфункции в формировании а)фиброза печени при
                        гепатите С и б)хронической болезни почек у больных ожирением"
                        2. Разработка, апробация и внедрение методов диагностики, лечения и реабилитации, в том числе с
                        использованием технологий персонализированной терапии
                        Тема 1. Выяснение механизмов регенерации органов и тканей с целью создания генных и клеточных
                        препаратов для регенеративной медицины
                        Тема 2. Исследование биомаркеров злокачественной трансформации предстательной железы для
                        разработки методик ранней диагностики и лечения
                        Тема 3. Разработка, апробация и внедрение методик восстановления функции опоры и движения после
                        перенесенных заболеваний сердечно-сосудистой, нервной, выделительной, дыхательной и
                        скелетно-мышечной систем
                        Тема 4. Разработка инновационных методов диагностики хронической сердечной недостаточности (ХСН)
                        и индивидуальных подходов к коррекции факторов, определяющих прогноз и клиническое течение ХСН
                        Тема 5. Разработка, апробация и внедрение инновационных методов аутотрансплантации тканей
                        Тема 6. Разработка современных немедикаментозных методов лечения сердечной недостаточности
                        Тема 7. Разработка методов комплексного лечения пациентов с различными деформациями передней
                        грудной стенки на стыке возможностей торакальной и пластической хирургии
                        3. Разработка и апробация персонализированных клинических подходов к профилактике
                        возраст-ассоциированных заболеваний
                        Тема 1. Изучение специфичности офтальмологических биомаркеров в диагностике болезни Альцгеймера
                        и других деменций
                        Тема 2. Разработка экстракорпоральных методов профилактики и лечения возраст-ассоциированных
                        состояний
                        Тема 3. Изучение роли сосудистого старения в развитии сердечно-сосудистых, цереброваскулярных
                        осложнений и деменций
                        Тема 4. Разработка и внедрение программ управления течением хроническими заболеваниями для
                        улучшения качества жизни
                    </pre>
                </article>
    </div>
{% endblock %}